body{
    background-color: #FAFAFA;
}

.product_card {
    background-color: #ffffff;
    width: 225px;
    height: 300px;
}
.product_price {
    font-size: 16px;
}
.product_discount {
    font-size: 14px;
    background-color: #FFEE00;
    padding: 2px 5px;
    border-radius: 5px;
}


/* Sidebar.css */
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 200;
    left: 0;
    background-color: #ffffff;
    padding-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    color: black;
    padding: 10px;
  }
  
